/* 마우스 올리면 크기가 살짝 커지게끔 */
span:hover {
  animation: ifHoverSpan 0.2s ease-in-out forwards;
}

@keyframes ifHoverSpan {
  0% {
    transform: none;
  }

  100% {
    color: lightskyblue;
    font-size: 40px;
    line-height: 10px;
  }
}
