.leftSide div,
.rightSide div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftSide div:first-child,
.rightSide div:first-child {
  width: 100%;
  height: 90%;
  align-items: center;

  /* overflow-y: scroll; */
  /* 세로 내림줄 관리  */
}
.leftSide div:last-child,
.rightSide div:last-child {
  width: 100%;
  height: 10%;
  background-color: inherit;
}
