.leftSide__form input[type="text"] {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  border-bottom: #fff 2px solid;
  font-size: 20px;
  padding-bottom: 0.6em;
  outline-style: unset;
  color: #fff;
  margin-top: 1%;
}
.leftSide__form input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.8;
  font-size: 22px;
}
