.leftSide__locateControl:not(span) {
  position: relative;
}

button {
  position: absolute;

  right: 18%;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0);
  border: unset;
}
.complBtn {
  margin-right: 12%;
  color: green;
}
